<!DOCTYPE html>
<html>
<head>
<title>Currency converter</title>
 <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

</head>
<body>
{{{body}}}
<img src="/images/coins.jpg">
<hr>
<a href="about">about this site</a>
</body>
</html>