<!DOCTYPE html>
<html>
<head>
    <title> Currency Converter</title>
</head>
<body>
<h1>Currency Converter</h1>
<form action="/converter" method="GET">
    <label for="dollar">Amount of dollar</label>
    <input type="number" step="any" name="dollar_amount" id="dollar"/>
    <br>
    <label for="to_currency">convert to</label>
    <select name="to_currency" id="to_currency">
        <option value="EUR">Euros</option>
        <option value="JPY">Japanese yen</option>
    </select>
    <br>
    <button type="submit">Convert</button>
</form>
<hr>
</body>
</html>