<!DOCTYPE html>
<html>
<head>
    <title>Conversion results</title>
</head>
<body>
<h1>Results</h1>
<p>${{ dollars }} is equivalent to {{ result }} {{currency}}</p>
<hr>
<a href="about">about this site</a>
</body>
</html>